.container {
    width: 100%;
    min-height: calc(100vh - 3rem);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.title {
    margin-bottom: 2rem;
    font-weight: 300;
    color: var(--neutral-900-color);
    letter-spacing: 2px;
    text-align: center;
    max-width: 86%;
    overflow: hidden;
}

.warning {
    font-weight: 200;
    color: var(--neutral-700-color);
    letter-spacing: 2px;
    text-align: center;
    width: 90%;
    font-size: 1rem;
}

.warning span{
    font-weight: 300;
    color: rgba(255, 100, 100, 0.8);
    letter-spacing: 2px;
    text-align: center;
    font-size: 1.2rem;
}

.form {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 1rem;
    width: 100%;
    background-color: var(--neutral-300-color);
}

.form:first-child {
    margin-top: 0;
}

.form:last-child {
    margin-bottom: 0;
}

.buttonInfoContainer {
    position: relative;
    width: 100%;
    height: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} 

.buttonInfo {
    display: block;
    position: absolute;
    right: 0rem;
    top: 0rem;
    text-align: center;
    z-index: 10;
    border: none;	
    outline: none;
    padding: 0.5rem;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 5px;
    color: var(--neutral-800-color);
    background-color: var(--neutral-400-color);
    cursor: pointer;
    line-height: 2rem;
    letter-spacing: 0;
    transition: all 0.3s;
}

.buttonInfo:active {
    transform: scale(0.9);
    color: var(--neutral-400-color);
    background-color: var(--neutral-800-color);
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 0;
}

.selectedContainer {
    position:relative;
	margin-bottom:1rem;
}

.selectedContainer label{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
	font-size: 1.2rem;
	color: var(--neutral-800-color);
}

.selectedContainer select{
    width: 80vw;
    border: none;	
    outline: none;
    padding: 0.25rem;
    font-weight: 500;
    color: var(--neutral-800-color);
    border-bottom: 1px solid var(--neutral-400-color); 
    background: transparent; 
}

.selectedContainer input:focus ~ label,
.selectedContainer input:valid ~ label{
	top: -1.1rem;
	font-size: 0.5rem;
}

.inputContainerNotRequired {
    position:relative;
	margin-bottom:1rem;
}

.inputContainerNotRequired label{
    position:absolute;
	top: 0.25rem;
	left: 0;
	font-size: 1.35rem;
	color: var(--neutral-800-color);	
	transition: all 0.5s ease-in-out;
}

.inputContainerNotRequired input{
    border: 0;
    border-bottom: 1px solid var(--neutral-400-color);  
    background: transparent;
    width: 80vw;
    padding: 0.5rem 2rem 0 0;
    font-size: 1.2rem; 
    color: var(--neutral-1100-color);
}

.inputContainerNotRequired input:focus{ 
    border: none;	
    outline: none;
    border-bottom: 1px solid var(--neutral-600-color);	
}

.inputContainerNotRequired input:focus ~ label,
.inputContainerNotRequired input:not(:placeholder-shown) ~ label {
    top: -1.1rem;
    font-size: 1.2rem;
}

.inputContainer {
	position:relative;
	margin-bottom:1rem;
}

.inputContainer label{
	position:absolute;
	top: 0.25rem;
	left: 0;
	font-size: 1.35rem;
	color: var(--neutral-800-color);	
	transition: all 0.5s ease-in-out;
}

.inputContainer input{ 
    border: 0;
    border-bottom: 1px solid var(--neutral-400-color);  
    background: transparent;
    width: 80vw;
    padding: 0.5rem 2rem 0 0;
    font-size: 1.2rem; 
    color: var(--neutral-1100-color);
}

.inputRadioContainer {
    position:relative;
    width: 100%;
    font-size: 1.2rem; 
    color: var(--neutral-800-color);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radioItem [type="radio"] {
	display: none;
}

.radioItem + .radioItem {
	margin-top: 1rem;
}

.radioItem label {
	display: block;
	padding: 1rem 3rem;
	background: transparent;
	border: 2px solid var(--neutral-400-color);
	border-radius: 5px;
	cursor: pointer;
	font-size: 1.25rem;
	font-weight: 400;
	min-width: 2rem;
	white-space: nowrap;
	position: relative;
	transition: 0.4s ease-in-out 0s;
}

.radioItem label:after,
.radioItem label:before {
	content: "";
	position: absolute;
	border-radius: 50%;
}

.radioItem label:after {
	height: 1.5rem;
	width: 1.5rem;
	border: 2px solid var(--neutral-500-color);
    left: 1.5rem;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.radioItem label:before {
	background: var(--neutral-900-color);
	height: 1.5rem;
	width: 1.5rem;
	left: 1.5rem;
    top: 50%;
    transform: scale(2);
	opacity: 0;
	visibility: hidden;
	transition: 0.25s ease-in-out 0s;
}

.radioItem [type="radio"]:checked ~ label {
	border-color: var(--neutral-900-color);
}

.radioItem [type="radio"]:checked ~ label::before {
	opacity: 1;
	visibility: visible;
    z-index: 10;
	transform: scale(1) translateY(-50%) translateX(-50%);
}

.inputFileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:relative;
	margin-bottom:1rem;
    width: 100%;
}

.inputFileContainer input{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputFileContainer label{
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--neutral-900-color);
    border: solid 2px var(--neutral-900-color);
    padding: 0.5rem 2rem;
    border-radius: 5px;
    background-color: transparent;
    display: block;
    cursor: pointer;
}

.productPreviewContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height: 16rem;
    border: solid 2px var(--neutral-900-color);
    border-radius: 8px;
    margin-top: 1rem;
    transition: transform 0.2s;
}

.productPreview {
    max-width: 100%;
    height: auto;  
    border-radius: 6px;
    object-fit: cover;
}

@media (min-width: 768px) { 
    .form {
        width: 80vw;
    }

    .inputContainer input{
        width: 50vw;
    }

    .selectedContainer select{
        width: 50vw;
    }

    .inputContainerNotRequired input{
        width: 50vw;
    }
}
  
@media (min-width: 1440px) {
    .form {
        width: 60vw;
    }

    .inputContainer input{
        width: 40vw;
    }

    .selectedContainer select{
        width: 40vw;
    }

    .inputContainerNotRequired input{
        width: 40vw;
    }
}

.inputContainer input:focus{ 
    border: none;	
    outline: none;
    border-bottom: 1px solid var(--neutral-600-color);	
}

.inputContainer input:focus ~ label,
.inputContainer input:valid ~ label{
	top: -1.1rem;
	font-size: 1.2rem;
}

.error {
    padding: 0.5rem;
    font-style: italic;
    font-weight: 200;
    font-size: 1rem;
    text-align: center;
    overflow: hidden;
    color: rgba(255, 100, 100, 0.8);
}

.submit {
    margin: 0.5rem;
    border: none;	
    outline: none;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--neutral-600-color);
    color: var(--neutral-200-color);
    transform: scale(0.9);
    transition: all 0.3s;
}

.disabled {
    color: var(--neutral-100-color);
    background-color: var(--neutral-400-color);
    cursor: not-allowed;
    opacity: 0.8;
}

.loading {
    border-radius: 0px;
    color: var(--neutral-100-color);
    background-color: var(--neutral-800-color);
    opacity: 0.8;
}

.passwordVisibility {
    display: block;
    position: absolute;
    right: 0rem;
    top: 0.5rem;
    text-align: center;
    z-index: 10;
    border: none;	
    outline: none;
    padding: 0.25rem;
    font-weight: 400;
    font-size: 1rem;
    padding: 0;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 5px;
    color: var(--neutral-800-color);
    background-color: var(--neutral-400-color);
    cursor: pointer;
    line-height: 1.5rem;
    letter-spacing: 0;
    transition: all 0.3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.passwordVisibility:active {
    transform: scale(0.9);
    color: var(--neutral-400-color);
    background-color: var(--neutral-800-color);
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0;
}

.cityNameListItem {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--neutral-800-color);
    border-bottom: solid 1px var(--neutral-400-color);
}

.cityNameListItem span {
    font-size: 1rem;
}

.storeListContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.storeListItemIndex {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: var(--neutral-800-color);
    text-align: center;
    width: 90%;
}

.storeListItemTitle {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--neutral-800-color);
    text-align: center;
    width: 90%;
}

.storeListItemTitle span{
    font-size: 1rem;
    color: var(--neutral-600-color);
}

.storeListItem {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    width: 100%;
    color: var(--neutral-800-color);
    text-align: center;
    width: 90%;
}

.storeListItem span{
    font-size: 1rem;
    color: var(--neutral-600-color);
}

.storeListItemLast {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--neutral-800-color);
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: solid 1px var(--neutral-400-color);
    text-align: center;
    width: 90%;
}

.storeListItemLast span{
    font-size: 1rem;
    color: var(--neutral-600-color);
}

.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
}

.currentPage {
    display: block;
}

.currentPage h3{
    display: inline-block;
    width: 5rem;
    text-align: center;
    font-weight: 400;
    font-size: 1.7rem;
    color: var(--neutral-800-color);
}

.currentPage span{
    display: inline-block;
    font-size: 1rem;
    color: var(--neutral-800-color);
}

.reviewQuantity {
    font-size: 1.5rem;
    color: var(--neutral-600-color);
    padding-bottom: 1rem;
    font-weight: 400;
    width: 100%;
    text-align: center;
    border-bottom: solid 1px var(--neutral-400-color);
}

.reviewContainer {
    width: 100%;
    padding: 0.5rem;
    border-bottom: solid 1px var(--neutral-400-color);
}

.reviewTitle {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--neutral-600-color);
    padding: 0.5rem;
}

.reviewTitle span{
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--neutral-1100-color);
}

.review {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--neutral-1100-color);
    padding-left: 2rem;
}

.reviewButtonsBox {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    row-gap: 0.5rem;
}

.reviewButton {
    margin: 0 auto;
    border: none;	
    outline: none;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--neutral-600-color);
    color: var(--neutral-200-color);
    transform: scale(0.9);
    transition: all 0.3s;
}

.сustomerConteiner {
    display: block;
    width: 100%;
    background-color: var(--neutral-400-color);
    min-height: 1rem;
    border-radius: 5px;
    padding: 0.5rem;
}

.сustomerTitle {
    display: block;
    width: 100%;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    font-weight: 400;
    color: var(--neutral-900-color);
}

.сustomerTitle span {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--neutral-800-color);
    text-decoration: underline;
}

.blockedCustomerButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    row-gap: 1rem;
    padding: 0.5rem;
    margin-top: 1rem;
}

.blockedCustomerButton {
    border: none;	
    outline: none;
    padding: 0.25rem;
    font-weight: 500;
    color: var(--neutral-900-color);
    border: solid 2px var(--neutral-900-color); 
    background-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.blockedCustomerButton:hover {
    color: var(--neutral-1100-color);
    border: solid 2px var(--neutral-1100-color); 
}

.blockedCustomerButton:active {
    transform: translateY(1px) scale(0.999);
    color: var(--neutral-1100-color);
    border: solid 2px var(--neutral-1100-color); 
}

.productQuantity {
    font-size: 1.5rem;
    color: var(--neutral-600-color);
    padding-bottom: 1rem;
    font-weight: 400;
    width: 100%;
    text-align: center;
}

.productContainer {
    border: solid 1px var(--neutral-600-color);
    padding: 0.5rem;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.productText {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--neutral-900-color);
}

.productText span{
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--neutral-700-color);
}